<div class="cuerpoApp">
    <section>
        <nav>
            <h1>Noticias</h1>
            <ul>
                <li>
                    <h2>MINECRAFT</h2>
                    <p>Un usuario consigue convertir Minecraft en un plataformas 2D al estilo Super Mario sin
                        utilizar mods y este es el
                        resultado que asombra a millones de jugadores</p>
                </li>
                <li>
                    <h2>INTERNET</h2>
                    <p>
                        Primeros detalles del “Internet 2.0”: imposible de hackear y con mucho margen de mejora
                        gracias a una tecnología que
                        apunta a ser revolucionaria
                    </p>
                </li>
                <li>
                    <h2>3DJUEGOS PC</h2>
                    <p>La GTX 1060 ya no reina en Steam como la tarjeta gráfica más usada, y el regicidio lo ejecuta
                        su hermana mayor</p>
                </li>
            </ul>
        </nav>

        <div>
            <article>
                <h1>CONTACTA CON EL SIGUIENTE FORMULARIO</h1>
                <p>¡Esperamos tu contacto!</p>
                <div>
                    <form >
                        <label>NOMBRE</label>
                        <input type="text"placeholder="Tu nombre..">

                        <label >APELLIDOS</label>
                        <input type="text" placeholder="Tus apellidos..">

                        <label >País</label>
                        <select  name="country">
                            <option value="españa">España</option>
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>

                        <input value="Contactar">
                    </form>
                </div>
            </article>
        </div>

    </section>
</div>