
.cuerpoApp{
    width: 900px;
    height: 500px;
  }
.centro {
  text-align: center;
}
  nav {
    float: left;
    width: 28%;
    height: 500px;
    background: #ccc;
    padding: 20px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  article {
    float: left;
    padding: 20px;
    width: 60%;
    background-color: #f1f1f1;
    height: 500px;
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }

  table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
