<div class="cuerpoApp">
    <section>
        <nav>
            <h1>Noticias</h1>
            <ul>
                <li>
                    <h2>MINECRAFT</h2>
                    <p>Un usuario consigue convertir Minecraft en un plataformas 2D al estilo Super Mario sin
                        utilizar mods y este es el
                        resultado que asombra a millones de jugadores</p>
                </li>
                <li>
                    <h2>INTERNET</h2>
                    <p>
                        Primeros detalles del “Internet 2.0”: imposible de hackear y con mucho margen de mejora
                        gracias a una tecnología que
                        apunta a ser revolucionaria
                    </p>
                </li>
                <li>
                    <h2>3DJUEGOS PC</h2>
                    <p>La GTX 1060 ya no reina en Steam como la tarjeta gráfica más usada, y el regicidio lo ejecuta
                        su hermana mayor</p>
                </li>
            </ul>
        </nav>

        <div >
            <article class="centro">
                <h1>CONOCE A NUESTRO EQUIPO</h1>
                <p>¡Un grupo de profesionales apasionados por los videojuegos desde tiempos ancestrales!</p>
                <img src="/assets/img/nosotros.JPG" width="320" height="400">
            </article>
        </div>

    </section>
</div>